@import "./variables";
@import "./mixins";

//reset
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

p,
ul,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

a,
li {
  list-style: none;
  text-decoration: none;
}

//fonts
@font-face {
  font-family: "Helvetica";
  src: url("../fonts/Helvetica.ttf");
}

@font-face {
  font-family: "TradeGothic";
  src: url("../fonts/trade-gothic.ttf");
}

body {
  font-size: 16px !important;
  overflow-x: hidden;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  flex: 1;
  background-color: $bg-color;
  font-family: "TradeGothic";
}

.menu-text {
  font-family: "TradeGothic";
  font-size: 20px;
  color: $text-color;
  line-height: 29px;
  font-weight: 600;
}

.text-styles {
  font-size: 20px;
  color: $text-color;
  line-height: 30px;
  font-weight: 600;
}

.text-heading {
  font-size: 70px;
  color: $text-color;
  line-height: 1.2;
  font-weight: 700;
}

@media (min-width: 1440px) {
  .container {
    max-width: 1860px;
    padding: 0 120px;
    width: 100%;
    margin: auto;
  }

  .menu-text {
    font-size: 24px;
  }
}
